<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/firepad.css">
  <link rel="stylesheet" href="/css/firepad-userlist.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{page.title}}</title>
  <style type="text/css" media="screen">
    #container .firepad {
        position: relative;
        width: 600px;
        height: 300px;
        left: 175px;
    }
    #editor {
        width: auto;
        height: 300px;
        margin: 0;
    }
    #userlist,
    #userlist .firepad-userlist {
        position: absolute;
        width: 175px;
        height: 300px;
    }
    #container {
        margin: auto;
        max-width: 60%;
    }
  </style>
</head>
<body>
{{ content }}
</body>
</html>
